
.card {
    background-color: #0B05AF;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.contact-info p {
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.contact-info i {
    margin-right: 0.5rem;
}

.team-heading {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.member-name {
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-padding {
    padding: 1.5rem;
}

.image-container {
    margin-bottom: 1.5rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: #ffffff;
} 